@charset "utf-8";

* {
    color: green;
    font-family: constantia;
}
html {
    height: 100%
}
header, footer {
   
    margin-top: 10px;
    background-color: aqua;
}
header {
    border-bottom: 2px solid silver;

}


footer {
    border-top: 2px solid silver
}
a {
    text-decoration: none
}
.logo {
    margin-left: 2%
}
.ent {float: right;
    margin-right: 2%;
}
.reg {float: right;
margin-right: 2%;
}
#common: after {
    content: "";
    display: block;
        
}
#side {
    background-color: coral;
    float: left;
    width: 20%;
    height: 96%;
    padding-left: 20PX;
margin-right: 20px;
}
#cont {
    float: left;
    max-width: 70%;
    height: 96%;
    padding-left: 20PX;
    background-color: coral;
}




